header.masthead {
  position: relative;
  padding-top: 8rem;
  border-bottom: $gray-600 solid 1px;  
  color: $black !important;
  .overlay {
    position: absolute;
    background-color: $white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    border-bottom: $gray-600 solid 1px;
    h1 {
      font-size: 3rem;
    }
  }
}

.mab-howitworks-left {
  width: 20%;
  height: 100%;
}

.mab-howitworks-right {
  width: 20%;
  height: 100%;
}