.navbar {
    background-color: $black !important;
}

.mab-navbar-logo {
    width: 10%;
    margin-left: 1rem;
}

.mab-navbar-link {
    color: $white;
    padding: 0.5rem 2rem;
}

.nav-tabs .nav-item {
    min-width: 250px;
    border-bottom: 0;    
}

.nav-tabs .nav-link.active {
    border-top-color: $blue;
    border-radius: 0;
    border-top-width: 2px;
    border-bottom: 0;
}

.mab-tabs {
    border-bottom: 1px solid $gray-400;
}

ul {
    margin-top: 10px;
    @media (min-width: 768px) {
        margin-top: 10px;
    }
}
