.navbar {
    background-color: $black;
}

.mab-navbar-logo {
    width: 10%;
}

.mab-navbar-link {
    color: $white;
}

.nav-tabs .nav-item {
    min-width: 250px;
}

.nav-tabs .nav-link.active {
    border-top-color: $blue;
    border-radius: 0;
    border-top-width: 2px;
}

ul {
    margin-top: 10px;
    @media (min-width: 768px) {
        margin-top: 10px;
    }
}
